
<body>
  <div class="background">
  <div class="row">
    <div class="large-12 columns">

    <!-- Navigation -->

      <div class="row">
        <div class="large-12 columns">

          <nav class="top-bar">
            <ul class="title-area">
              <!-- Title Area -->
              <li class="name">
                <h1>
                  <%=link_to "Musical Element", root_path, :method => :get %>
                </h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul>

            <section class="top-bar-section">

              <!-- Right Nav Section -->
              <ul class="right">
                <li class="divider"></li>
                <li class="has-dropdown">
                  <a href="#">Playlists</a>
                  <ul class="dropdown">
                    <li><label>Section Name</label></li>
                    <li class="has-dropdown">
                      <a href="#" class="">Has Dropdown, Level 1</a>
                      <ul class="dropdown">
                        <li><a href="#">Dropdown Options</a></li>
                        <li><a href="#">Dropdown Options</a></li>
                        <li><a href="#">Level 2</a></li>
                        <li><a href="#">Subdropdown Option</a></li>
                        <li><a href="#">Subdropdown Option</a></li>
                        <li><a href="#">Subdropdown Option</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li class="divider"></li>
                    <li><label>Section Name</label></li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li><a href="#">Dropdown Option</a></li>
                    <li class="divider"></li>
                    <li><a href="#">See all &rarr;</a></li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li><a href="#">Settings</a></li>
                <li class="divider"></li>
                <li class="has-dropdown">
                  <a href="#">Account</a>
                  <ul class="dropdown">
                    <li><a href="#">Dropdown Option</a></li>
                    <li><a href="#">Edit Info</a></li>
                    <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
                    <li class="divider"></li>
                    <li><a href="#">See all &rarr;</a></li>
                  </ul>
                </li>
              </ul>
            </section>
          </nav>
          <!-- End Top Bar -->
        </div>
      </div>

<h1>Tracks in my Library</h1>

<table>
  <tr>
    <th>Track #</th>
    <th>Artist</th>
    <th>Title</th>
    <th>Album Artist</th>
    <th>Year</th>
    <th>Genre</th>
    <th>Length</th>
    <th>Size</th>
    <th>BPM</th>
    
  </tr>

<% @tracks.each do |track| %>
  <tr>
    <td><%= track.track_number %></td>
    <td><%= track.artist %></td>
    <td><%= track.title %></td>
    <td><%= track.album_artist %></td>
    <td><%= track.year %></td>
    <td><%= track.genre %></td>
    <td><%= track.length %></td>
    <td><%= track.size %></td>

    <td><%= track.bpm %></td>
    <td><%#= track.tpath %></td>
    <td><%#= link_to 'Show', library_track_path %></td>
    <td><%#= link_to 'Edit', edit_library_track_path(track) %></td>
    <td><%#= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Destroy', library_track_path(@library, track), :method => 'delete', data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Track', new_library_track_path(@library.id) %>



