<div class="friends">
<h2>Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%= image_tag friendship.friend.avatar(:thumb) %>
      <%=friendship.friend.email %>
      (<%= link_to "remove", friendship, :method => :delete %>)


    </li>
  <% end %>
</ul>
</div>
<div class="friended">

<p><%= link_to "Find Friends", users_path %></p>

<h2>Friend Requests</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li>
      <%= image_tag user.avatar(:thumb) %>
      <%= user.email %>


    </li>
  <% end %>
</ul>
</div>