<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @library.name %>
</p>

<p>
  <b>Track path:</b>
  <%= @library.image %>
</p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>