<table id="draggable" class="ui-widget-content">
  <tr>
    <th>Track #</th>
    <th>Album Artist</th>
    <th>Title</th>
    <th>Featured Artist</th>
    <th>Album</th>
    <th>Year</th>
    <th>Genre</th>
    <th>Length</th>
    <th>Size</th>
    <th>BPM</th>
    
  </tr>

   <%#= form_for track, {:url => library_playlists_path(@library.id)} do |f| %>
    <%# binding.pry %>
    <% @tracks.each do |track| %>
   <tbody id="draggable-<%= track.id %>" class="ui-widget-content">
    <tr>
        <td><%= track.track_number %></td>
        <td><%= track.album.artist.name %></td>
        <td><%= track.title %></td>
        <td><%= track.artists.map{ |a| [a][0].name }.join(", ") %></td>
        <td><%= track.album.name %></td>
        <td><%= track.year %></td>
        <td><%= track.genre.name %></td>
        <td><%= track.length %></td>
        <td><%= track.size %></td>
        <td><%= track.bpm %></td> 
        <%#= f.fields_for "playlist[playlist_tracks_attributes][]" do |p| %>
        <td><%= check_box_tag("playlist[playlist_tracks_attributes][][track_id]", track.id) %></td> 
        <%# end %> 
    </tr>
   </tbody>     <%# binding.pry %>

    <% end %>
    <%# end %>
</table>

    <!-- Footer -->